@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

section{
	margin: 0 auto;
	width: 45%;
}
table{
	border-collapse: collapse;
}
th{
	font-family: Roboto, sans-serif;
	background-color: #2E2EFE;
	color: white;
	padding: 10px;
}
td{
	padding: 10px;
}